@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Red Hat Text';
    color: hsl(12, 20%, 44%)

}

body{
    background-color: hsl(13, 31%, 94%)
}

.main-body-container{
    display:flex;
    flex:1;
}

.desserts-wrapper{
    flex:0.6;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;

}

.dessert-title{
    display: flex;
    justify-content: left;
    padding:0.6rem;

}

.dessert-title>h3{
    font-size: 1.75rem;
    color:hsl(14, 65%, 9%);
}



.desserts-cards{
    display:flex;
    flex-wrap:wrap;
    padding:0.6rem;
    gap:0.4rem;

}

.dessert-card{
    width:17.5rem;    
}
.dessert-card .dessert-image{
    width:99%;
    height:14rem;
    border-radius: 1rem;
    position:relative;
        
}

.dessert-card button{
    border:none;
    outline:none;
    color:hsl(12, 20%, 44%);
    font-size:0.7rem;
    font-weight:700;
    background-color: white;
    
}

.add-to-cart-wrapper{
    border:2px solid hsl(7, 20%, 60%);
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    padding:0.4rem 1rem;
    width:6rem;
    z-index:2;
    margin-top:-1.5rem;
    position:relative;
    background-color: white;
    border-radius:1rem;
}

.dessert-details{
    margin-top:1rem;
    display: flex;
    flex-direction: column;
    gap:0.24rem;
}

.dessert-details span:nth-of-type(2){
    font-weight:700;
    color: hsl(14, 65%, 9%)
}

.dessert-details span:nth-of-type(3){
    font-weight:900;
    color: hsl(12, 20%, 44%)
}



.cart-wrapper{
    flex:0.25;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:16rem;
    background: white;
    border-radius:1rem;
}

.cart-wrapper> .your-cart-title{
    width:100%;
    display: flex;
    justify-content: left;

}

.cart-wrapper>.your-cart-title>h3{
    color:hsl(14, 86%, 42%);
    font-weight:bold;
    padding:1rem;
    font-size:1.75rem;
}